@media (max-width: 980px) {
    .conteudo .divisao3 img  {
        width: 300px;
        margin-bottom: 0;
    }
    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .divisao {
        margin: 0;
        padding-top: 50px;
    }
    button {
        font-size: 21px;
        padding: 11px 40px;
    }
}