* {
    border: none;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.511), rgba(0, 0, 0, 0.451)), url(../imagens/ellie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

audio {
    margin-top: 12px;
    transition: 0.2s;
    margin-left: 25px;
}

audio:hover {
    transform: scale(1.2);
}

.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
}

.divisao {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-bottom: 200px;
    margin-right: 55px;
}

.conteudo .divisao3 img {
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 35px;
    margin-left: 55px;
}

.divisao2 {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

button {
    background: none;
    border-radius: 25px;
    border: .1px solid white;
    cursor: pointer;
    color: white;
    font-size: 22px;
    padding: 11px;
    padding-left: 45px;
    padding-right: 45px;
    transition: 0.2s;
}

button:hover {
    background: blue;
    border: none;
    transform: scale(1.2);
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#modal {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.btn-class-name {
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgb(var(--primary), .5);
    border-radius: 100%;
    position: relative;
    transition: .3s;
    margin: 0 auto 10px auto;
}

.btn-class-name .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn-class-name .front {
    background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
    box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: .15s;
    color: rgb(var(--secondary));
}

.btn-class-name:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
}


#fade.hide,
#modal.hide {
    opacity: 0;
    pointer-events: none;
    top: 0;
}

#modal,
#fade {
    opacity: 1;
    transition: 0.2s ease-in-out;
    pointer-events: all;
}